#main-container{
	padding:20px;
	background-color:#f5f5f5;
}

.testimonial{
	background-color:white;
	border:1px solid #ddd;
	padding:10px;
	margin-top:15px;
}

.text{
	margin-bottom:20px;
}

.author{
	display:inline-block;
	width:100%;
	text-align:right;
	font-style:italic;
}
