/*  your css code here. If applicable */
#main-container{
    padding:20px;
	background-color:#f5f5f5;
	/* border:1px solid black; */
}
.testimonial{
	background-color:white;
	border:2px solid grey;
	padding:10px;
	margin-top:15px;
}
.text{
	margin-bottom:20px;
}
.aurthor{
	display:inline-block;
	width:100%;
	text-align:right;
	font-style:italic;
}








