#main-container {
    padding: 20px;
    background-color: #f5f5f5;
}

.testimonial {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-style: italic;
    white-space: nowrap;
    margin: 0;
}

.text {
    margin: 0;
}
